# end-entity Server certificate
[ req ]
prompt                 = no
days                   = 3650
default_md             = sha256
distinguished_name     = req_distinguished_name
req_extensions         = v3_req

[ req_distinguished_name ]
commonName             = braidnet
# countryName            =
# stateOrProvinceName    =
# localityName           =
# organizationName       =
# organizationalUnitName =
# emailAddress           =

[ v3_req ]
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = critical, serverAuth
# subjectAltName will be filled by the pre_start hook or module braidnet_cert
