.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
fly-personal.toml
certs/
!certs/cfg/braidnet.cfg
!certs/stritzinger_grisp_CA.pem
