{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.10.0"}, {jiffy, "1.1.1"}, {uuid, "2.0.5", {pkg, uuid_erl}}]}.

{plugins, [
  {rebar3_docker, {git, "https://github.com/stritzinger/rebar3_docker.git", {tag, "0.1.0"}}}
]}.

{dist_node, [
  {setcookie, cookie},
  {name, 'braidnet@host.1'}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [braidnet]}
]}.

{profiles, [
  {container, [
      {relx, [
          {release, {braidnet, "0.1.0"}, [braidnet]},
          {sys_config_src, "./config/container.config.src"},
          {mode, prod}
      ]}
  ]},
  {test, [
    {deps, [{braid, {git, "https://github.com/stritzinger/braid.git", {branch, "braidnet"}}}]},
    {ct_opts, [{sys_config, "./config/shell.config"}]}
  ]}
]}.
