{erl_opts, [debug_info]}.

{dialyzer, [{plt_apps, all_apps}]}.

{deps, [
  {cowboy, "2.10.0"},
  {jiffy, "1.1.1"},
  {uuid, "2.0.5", {pkg, uuid_erl}}
]}.

{plugins, [
  {rebar3_docker,
    {git, "https://github.com/stritzinger/rebar3_docker.git", {tag, "0.1.0"}}
  }
]}.

{dist_node, [
  {setcookie, cookie},
  {sname, 'braidnet@braid-local'}
]}.

{shell, [
  {config, "config/shell.config"},
  {script_file, "shell_setup.escript"},
  {apps, [braidnet]}
]}.

{profiles, [
  {container, [
      {relx, [
          {release, {braidnet, "0.2.0"}, [braidnet, runtime_tools]},
          {sys_config_src, "./config/container.config.src"},
          {vm_args, "./config/container.vm.args.src"},
          {mode, prod},
          {extended_start_script_hooks, [
            {pre_start, [{custom, "./hooks/pre_start"}]}
          ]},
          {overlay, [
            {copy, "./hooks/pre_start", "bin/hooks/pre_start"},
            {copy, "./certs/cfg/braidnet.cfg", "certs/cfg/braidnet.cfg"}
          ]}
      ]}
  ]},

  {test, [
    {deps, [
      {braid,
        {git, "https://github.com/stritzinger/braid.git", {branch, "master"}}
      }
    ]},
    {ct_opts, [
      {sys_config, "./config/shell.config"}
    ]}
  ]},

  {test_on_fly, [
    {deps, [
      {braid,
        {git, "https://github.com/stritzinger/braid.git", {branch, "master"}}
      },
      {jiffy, "1.1.1"}
    ]},
    {ct_opts, [{config, "test/config/test.config"}]}
  ]}
]}.
