#{
    'localhost' => % put the hostname of the current pc
        #{
            bob => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43591">>,
                connections => [alice]
            },
            alice => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43592">>,
                connections => [bob]
            }
        }
}.
