#{
    'braid-local' =>
        #{
            bob => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43591">>,
                connections => []
            },
            alice => #{
                image => <<"ziopio/braidnode">>,
                epmd_port => <<"43592">>,
                connections => []
            }
        }
}.
