[
  {braidnet, [
    {nodemap, #{
      <<"n1">> => #{
        <<"image">> => <<"local/braidnode">>,
        <<"epmd_port">> => <<"43591">>,
        <<"connections">> => [<<"n2@host.1">>]
      },
      <<"n2">> => #{
        <<"image">> => <<"local/braidnode">>,
        <<"epmd_port">> => <<"43592">>,
        <<"connections">> => [<<"n1@host.1">>]
      },
      <<"dummy_container">> => #{
        <<"image">> => <<"local/braidnode">>,
        <<"epmd_port">> => <<"43593">>,
        <<"connections" >> => []
      }
    }}
  ]},
  {kernel, [
      {logger_level, debug},
      {logger, [
        {handler, default, logger_std_h, #{
          formatter => {logger_formatter, #{
            template => [
              time, " ",
              "[", level, "] ",
              msg,
              "\n"
            ],
            chars_limit => 3_000
          }}
        }}
      ]}
  ]}
].
