[
  {braidnet, [
      {rest_api_token, <<"dummy">>},
      {braidcert_url, "http://localhost:8081/csr/"},
      {braidcert_key, "dummy"},
      {docker_trust, false}
  ]},
  {kernel, [
      {start_pg, true},
      {logger_level, debug},
      {logger, [
        {handler, default, logger_std_h, #{
          formatter => {logger_formatter, #{
            single_line => false,
            template => [
              time, " ",
              "[", level, "] ",
              msg,
              "\n"
            ],
            chars_limit => 3_000
          }}
        }}
      ]}
  ]}
].
